<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Landpage Test">
  <meta name="author" content="gameAUT">
  <title>GameAUT - Software para práticas de desenvolvimento motor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>
<body>
    

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">GameAUT</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Baixar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Como funciona</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Tire suas dúvidas</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="text-5">A suíte de jogos que estimula o desenvolvimento motor e a independência da sua criança de maneira divertida e eficiente</h1>
              <a class="btn btn-outline btn-xl" data-toggle="modal" data-target="#interesseModal">Comece agora!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <%= image_tag 'gameout.png', class:'img-fluid' %>
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="modal fade" id="interesseModal" role="dialog" aria-labelledby="interesseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><b> Estamos muito felizes pelo seu interesse!</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <h6>Nosso produto ainda se encontra em produção mas ainda queremos que você seja o primeiro a recebê-lo quando concluído.</h6>
            <h6>Por favor, informe seu email e entraremos em contato assim que os jogos estiverem prontos para ação!</h6>
            <%= image_tag 'logo.png', class:'logo' %>
            <%= form_for @message, url: contact_path do |message_form| %>
            <fieldset>
                <div class="form-group">
                  <%= message_form.text_field :name, :required => true, placeholder: "Nome", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= message_form.email_field :email, :required => true, placeholder: "Email", class: "form-control" %>
                </div>
                <div class="form-group" style="display: none;">
                  <%= message_form.text_area :content, placeholder: "Mensagem", class: "form-control" %>
                </div>
            </fieldset>
            <fieldset>
              <div class="form-group float-right">
                <%= message_form.submit "Enviar", class: "btn btn-success" %>
              </div>
            </fieldset>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Baixe agora o aplicativo. É gratis!</h2>
            <p>Nosso aplicativo está disponível para diversos dispositivos! Baixe agora e divirta-se!</p>
            <div class="badges">
              <a class="badge-link" data-toggle="modal" data-target="#interesseModal"><%= image_tag 'google-play-badge.svg' %></a>
              <a class="badge-link" data-toggle="modal" data-target="#interesseModal"><%= image_tag 'app-store-badge.svg' %></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Jogos diferenciados, Prática e resultados</h2>
          <p class="text-muted">Saiba porque o gameAUT vem funcionando tão bem!</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <%= image_tag 'gameout.png', class:'img-fluid' %>
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-fire text-primary"></i>
                    <h3>Jogos inteligentes</h3>
                    <p class="text-muted">Cada jogo é fornecido para exercitar uma prática terapéutica motora</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-trophy text-primary"></i>
                    <h3>Prêmios</h3>
                    <p class="text-muted">Com o alcance de cada nível você garante uma nova habilidade prática adquirida</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-user text-primary"></i>
                    <h3>Quem joga?</h3>
                    <p class="text-muted">Fortemente indicado para crianças de 7 a 12 anos que possuem dificuldades motoras!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-chart text-primary"></i>
                    <h3>Avanço</h3>
                    <p class="text-muted">Permite a vizualização do progresso de sua criança interagindo com o aplicativo!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta" id="contact">
      <div class="cta-content">
        <div class="container">
            <div class="text-center">
              <p class="text-contact">Ainda encontra-se com dúvida?</p>
              <p class="text-extra">Fale com a gente. Respondemos rapidinho!</p>
            </div>
            <%= form_for @message, url: contact_path do |message_form| %>
            <fieldset>
                <div class="form-group">
                  <%= message_form.text_field :name, :required => true, placeholder: "Nome", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= message_form.email_field :email, :required => true, placeholder: "Email", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= message_form.text_area :content, :required => true, placeholder: "Mensagem", class: "form-control" %>
                </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <%= message_form.submit "Enviar", class: "btn btn-default" %>
              </div>
            </fieldset>
            <% end %>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary">
      <div class="container">
        <h2>Também
          <i class="fa fa-heart"></i>
          estamos nas redes sociais</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="https://twitter.com/gameaut12" style="text-decoration:none;">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="https://www.facebook.com/gameaut12/" style="text-decoration:none;">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2017 GameAUT</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacidade</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Termos</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>
    <%= javascript_include_tag 'jquery.min' %>
    <%= javascript_include_tag 'bootstrap.bundle.min' %>
    <%= javascript_include_tag 'jquery.easing.min' %>
    <%= javascript_include_tag 'new-age.min' %>
</body>
</html>
